<?xml version="1.0"?>
<robot name="ceol" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ceol_ros2_control" params="mode prefix base_name">

    <xacro:include filename="$(find romea_mobile_base_description)/ros2_control/base2THD.ros2_control.xacro" />

    <xacro:include filename="$(find ceol_description)/urdf/ceol_base_properties.xacro" />


    <xacro:if value="${'simulation_gazebo' == mode}">
      <xacro:simulation_base_control
        mode="${mode}" 
        base_name="${base_name}"/> 
    </xacro:if>

    <xacro:if value="${mode == 'simulation_gazebo_classic'}">
      <xacro:base_control
        mode="${mode}"
        base_name="${base_name}"
        hardware_plugin="romea_mobile_base_gazebo/GazeboSystemInterface2THD" />
    </xacro:if>

    <xacro:if value="${'4dv' in mode or 'isaac' in mode}">
      <xacro:base_control
        mode="${mode}"
        base_name="${base_name}"
        hardware_plugin="romea_mobile_base_simulation/GenericSimulationSystemInterface" />
    </xacro:if>

    <!-- live control -->
    <xacro:if value="${mode =='live'}">
      <ros2_control name="${prefix}${base_name}" type="system">
        <hardware>
          <plugin>ceol_hardware/CeolHardware</plugin>
          <xacro:base_control_parameters interface_name="${base_name}"/>
        </hardware>
        <xacro:base_control_joints mode="${mode}"/>
      </ros2_control>
    </xacro:if>

  </xacro:macro>

</robot>