<?xml version="1.0"?>
<robot name="ceol" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- <xacro:include filename="$(find ceol_description)/urdf/color.xacro" /> -->
  <xacro:include filename="$(find romea_mobile_base_description)/urdf/base2THD.chassis.xacro" />
  <xacro:include filename="$(find ceol_description)/urdf/visual/chassis.xacro" />
  <xacro:include filename="$(find ceol_description)/urdf/visual/wheels.xacro" />

  <xacro:include filename="$(find ceol_description)/urdf/ceol_base_properties.xacro" />



  <xacro:macro name="ceol" params="mode prefix">
    <xacro:chassis>
      <chassis_visuals>
        <xacro:chassis_visual />
      </chassis_visuals>
      <xacro:left_sprocket_wheel_visual />
      <xacro:right_sprocket_wheel_visual />
      <xacro:left_idler_wheel_visual />
      <xacro:right_idler_wheel_visual />
    </xacro:chassis>

    <link name="${prefix}left_wheel_model">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
        <geometry>
          <!-- <mesh filename="package://ceol_description/meshes/ceol_wheel.dae" /> -->
          <mesh filename="file://$(find ceol_description)/meshes/ceol_wheel.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}left_wheel_model_joint" type="fixed">
      <origin xyz="0 ${track/2} 0" rpy="0 0 0" />
      <child link="${prefix}left_wheel_model" />
      <parent link="${prefix}${base_link}" />
    </joint>

    <link name="${prefix}right_wheel_model">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
        <geometry>
          <!-- <mesh filename="package://ceol_description/meshes/ceol_wheel.dae" scale="-1 1 1" /> -->
          <mesh filename="file://$(find ceol_description)/meshes/ceol_wheel.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}right_wheel_model_joint" type="fixed">
      <origin xyz="0 ${-track/2} 0" rpy="0 0 0" />
      <child link="${prefix}right_wheel_model" />
      <parent link="${prefix}${base_link}" />
    </joint>

    <gazebo reference="${prefix}${base_link}">
      <material>
        <script>
          <uri>package://ceol_description/meshes/ceol.material</uri>
          <name>ceol</name>
        </script>
      </material>
    </gazebo>

    <!-- <xacro:include filename="$(find ceol_description)/urdf/three_hitch_point_ceol.urdf.xacro"
    /> -->

  </xacro:macro>

</robot>